.out-container {
  border-style: solid;
  border-width: 10px;
  min-height: 100vh;
  background: hsl(0, 0%, 90%);
  background-color: hsl(0, 0%, 11%);
  border-color: hsl(0, 0%, 90%);
  color: hsl(0, 0%, 90%);
  text-align: center;
 }

 .logon-form {
  position: absolute;
  margin: auto;
  top: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 320px;
  width: 500px;
  background-color: rgb(56, 55, 55);
  border-style: double;
  border-color: hsl(0, 0%, 90%);
  border-width: 3px;
 }

 .register-form {
  position: absolute;
  margin: auto;
  top: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 380px;
  width: 500px;
  background-color: rgb(56, 55, 55);
  border-style: double;
  border-color: hsl(0, 0%, 90%);
  border-width: 3px;
 }
 
 .pass-val {
   position: absolute;
   text-align: center;
   list-style-position: inside;
   left: 30%
 }

.container-sm { 
  display: inline-box;
  min-height: calc(100vh - 300px);
  background-color: hsl(0, 0%, 11%);
  color: hsl(0, 0%, 90%);
}


h1 {
  color: hsl(0, 0%, 90%);
  text-align: center;
  font-weight: lighter;
}

h3 {
  color: hsl(0, 0%, 90%);
  text-align: center;
  font-weight: lighter;
}

p {
  color: hsl(0, 0%, 90%);
}

label {
  color: hsl(0, 0%, 90%);
  text-align: center;
}

input[type="password"], textarea {
  background-color: hsl(0, 0%, 90%);
  width: 40%;
  position: relative;
  left: 30%;
}

input[type="email"], textarea {
  background-color: hsl(0, 0%, 90%);
  width: 40%;
  position: relative;
  left: 30%;
}

input[type="name"], textarea {
  background-color: hsl(0, 0%, 90%);
  width: 40%;
  position: relative;
  left: 30%;
}

input:focus{
  background-color: hsl(0, 0%, 90%);
}

.navbar-custom {
  background-color: hsl(0, 0%, 11%);
}

.footer-basic {
  padding: 40px 0;
  background-color: hsl(0, 0%, 11%);
  color: hsl(0, 0%, 90%);
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}
