.recipe{
  border-bottom: 0.5px solid white;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: hsl(0, 0%, 11%);
  color: hsl(0, 0%, 90%);
  align-items: center;
  min-width: 40%;
  
}
.image{
  border: 50%;
  width: 100px;
  height: 100px;
}
