.SearchRec{
    min-height: 100vh;
    background: white;
    background-color: white;
    border-color: white;
   }
   
   .search-form{
       min-height: 10vh;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   
   .search-bar{
       border: 0.5px solid hsl(0, 0%, 11%);
       margin: 20px;
       width: 30%;
       padding: 10px;
   }
   .search-button{
       background: hsl(0, 0%, 11%);
       border: 2px;
       border: white; 
       padding: 10px 20px;
       color: white;
   }
   
   .recipes{
       border-width: 0.5px;
       display: flex;
       justify-content: space-around;
       flex-wrap: wrap;
   }